/* 
#05386b
#379683
#5cdb95
#8ee4af
#edf5e1
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #edf5e1; 
}

#header {
    background-color: #379683;
}

.card-title {
    color: #05386b;
}

#section-one {
    background-image: linear-gradient(#379683,#5cdb95)
}

#javascript-skills {
    background-color: #5cdb95; 
}

#js-one {
    color: #05386b;
}

option {
    color: #05386b;
}

#artist-text {
    color: #05386b;
}

#footer {
    font-size: 1rem;
    font-weight: 500;
    background-color: #edf5e1;
}